<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book App</title>
  </head>
  <body>
    <h1>My Library</h1>
      <a href="/">Home</a>
      <a href="/books">View All Books</a>
      <a href="/books/new">New Book</a>

      <%= yield %>

  </body>
</html>
